* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  width: 100%;
  position: sticky;
  justify-content: space-evenly;
  z-index: 100;
  background-color: whitesmoke;
}

.mobile__view {
  display: flex;
  justify-content: left;
  align-items: left;
  flex: .3;
}

.main__view {
  display: flex;
  justify-content: left;
  align-items: left;
  flex: .8;
}

.btn-test {
  color: whitesmoke;
  cursor: pointer;
  margin-left: .5rem;
  padding: 0 1.1rem 0 1.1rem;
  background: midnightblue;
  border: 2px solid midnightblue;
  border-radius: 100vw;
  font-size: 1.2rem;
}

.btn-test:active,
.btn-test:focus {
  outline: none;
}

.url__input {
  margin-left: .5rem;
  padding: .2rem 1.5rem .2rem 1.5rem;
  border: 2px solid black;
  border-radius: 100vw;
  width: 50%;
  font-weight: bold;
  font-size: 1rem;
  color: black;
}

form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.url__input:active, .url__input:focus {
  outline: none;
}

.message {
  display: none;
  font-weight: bold;
  font-size: 1.1rem;
  color: crimson;
  margin-left: .5rem;
}

.dev__tools {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: left;
  width: 10rem;
  color: whitesmoke;
  cursor: pointer;
  margin-left: .5rem;
  padding: 0 1.1rem 0 1.1rem;
  background: mediumvioletred;
  border: 2px solid mediumvioletred;
  border-radius: 100vw;
  font-size: 1rem;
}

.dev__tools:active, .dev__tools:focus {
  outline: none;
}

.resize__bar {
  position: absolute;
  top: 0;
  left: 24.5%;
  color: deeppink;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: col-resize;
}