* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  width: 100%;
  position: sticky;
  justify-content: space-evenly;
  z-index: 100;
  background-color: #0d1117;
}

.mobile__view {
  display: flex;
  justify-content: right;
  align-items: center;
  flex: .3;
}

.main__view {
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  justify-content: right;
  align-items: center;
  flex: .8;
}

.btn-test {
  color: whitesmoke;
  cursor: pointer;
  margin-left: .5rem;
  padding: 0 1.1rem 0 1.1rem;
  background: midnightblue;
  border: 2px solid midnightblue;
  border-radius: 100vw;
  font-size: 1.2rem;
}

.btn-test:active,
.btn-test:focus {
  outline: none;
}

.url__input {
  margin-left: .5rem;
  padding: .2rem 1.5rem .2rem 1.5rem;
  border: 2px solid black;
  border-radius: 100vw;
  font-weight: bold;
  font-size: 1rem;
  color: black;
  -webkit-user-select: text;
  user-select: text;
}

form {
  display: flex;
  align-items: center;
  justify-content: right;
}

.url__input:active, .url__input:focus {
  outline: none;
}

.message {
  display: none;
  font-weight: bold;
  font-size: 1.1rem;
  color: crimson;
  margin-left: .5rem;
}

.mainDev__tools {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: right;
  width: 10rem;
  color: whitesmoke;
  cursor: pointer;
  margin-left: .5rem;
  padding: 0 1.1rem 0 1.1rem;
  background: crimson;
  border: 2px solid crimson;
  border-radius: 100vw;
  font-size: 1.1rem;
}

.mobileDev__tools {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: left;
  width: 7rem;
  color: whitesmoke;
  cursor: pointer;
  margin-left: .5rem;
  padding: 0 .1rem 0 .1rem;
  background: crimson;
  border: 2px solid crimson;
  border-radius: 100vw;
  font-size: 1.1rem;
}

.mobileDev__tools:active,
.mobileDev__tools:focus,
.mainDev__tools:active,
.mainDev__tools:focus,
.rightClick:active,
.rightClick:focus {
  outline: none;
}

.resize__bar {
  position: absolute;
  top: 0;
  left: 24.5%;
  color: crimson;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: col-resize;
}

.menubar-menu-button {
  display: none;
}

.info__tag {
  color: whitesmoke;
  font-size: 1.1rem;
  margin-left: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.rightClick {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: left;
  width: 5rem;
  color: whitesmoke;
  cursor: pointer;
  margin-left: .5rem;
  padding: 0 .1rem 0 .1rem;
  background: crimson;
  border: 2px solid crimson;
  border-radius: 100vw;
  font-size: 1.1rem;
}

.refresh__button {
  object-fit: contain;
  width: 1.1rem;
  padding: 0 .2rem 0 .4rem;
  cursor: pointer;
  filter: invert(100%);
}