<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Views</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <div id="header_bar" class="header">
      <div class="mobile__view">
        <button id="mobile_back" class="btn-test" disabled> ← </button>
        <button id="mobile_forward" class="btn-test" disabled> → </button>
        <button hidden id="mock"> hello </button>
      </div>
      <div id="resize" class="resize__bar">
        <span>||</span>
      </div>
      <div id="main_view_block" class="main__view">
        <button id="main_back" class="btn-test" disabled> ← </button>
        <button id="main_forward" class="btn-test" disabled> → </button>
        <form id="url_input_form" class="form">
          <input id="url_input" class="url__input" type="text" placeholder="Insert URL" required/>
          <p id="message" class="message"> Bad URL input </p>
        </form>
        <button class="dev__tools" id="devTools"> Dev Tools </button>
      </div>
    </div>
    <script src="./renderer.js"></script>
    <script src="./preload.js"></script>
  </body>
</html>
