<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title> WebViews </title>
    <link rel="stylesheet" href="index.css">
    <link rel="icon" type="image/jpg" href="favicon.png">
  </head>
  <body>
    <div id="header_bar" class="header">
      <div id="mobile_view_block" class="mobile__view">
        <button id="mobile_back" class="btn-test" disabled> ← </button>
        <button id="mobile_forward" class="btn-test" disabled> → </button>
        <button class="mobileDev__tools" id="mobileDevTools"> Dev Tools </button>
      </div>
      <div id="resize" class="resize__bar">
        <span>||</span>
      </div>
      <div id="main_view_block" class="main__view">
        <img id="refresh_button" class="refresh__button" src="./img/refresh.png"/>
        <button id="main_back" class="btn-test" disabled> ← </button>
        <button id="main_forward" class="btn-test" disabled> → </button>
        <form id="url_input_form" class="form">
          <input id="url_input" class="url__input" type="text" placeholder="Insert URL"/>
          <p id="message" class="message"> Bad URL input </p>
        </form>
        <h3 class="info__tag" id="widthInfo"></h3>
        <div class="rightClick" id="buttonRightClick">RClick</div>
        <button class="mainDev__tools" id="mainDevTools"> Dev Tools </button>
        <div id="slide__container" class="slidecontainer">
          <input type="range" min="-5" max="5" value="0" class="slider" id="slider" step="0.01">
        </div>
      </div>
    </div>
    <script src="./renderer.js"></script>
    <script src="./preload.js"></script>
  </body>
</html>
